coursera/ex2/token.mat
coursera/ex3/token.mat
kaggle/.idea/.name
kaggle/.idea/encodings.xml
kaggle/.idea/kaggle.iml
kaggle/.idea/misc.xml
kaggle/.idea/modules.xml
kaggle/.idea/other.xml
kaggle/.idea/scopes/scope_settings.xml
kaggle/.idea/testrunner.xml
kaggle/.idea/vcs.xml
house_prices/data/gz/sample_submission.csv.gz
house_prices/data/gz/test.csv.gz
house_prices/data/gz/train.csv.gz
machine_learning.wpr
kaggle/.idea/workspace.xml
house_prices/pics/distribution_saleprice.png
Titanic/__init__.py
house_prices/pics/GrLivArea_SalePrice.png
house_prices/pics/TotalBsmtSF_SalePrice.png
