coursera/ex2/token.mat
coursera/ex3/token.mat
kaggle/.idea/.name
kaggle/.idea/encodings.xml
kaggle/.idea/kaggle.iml
kaggle/.idea/misc.xml
kaggle/.idea/modules.xml
kaggle/.idea/other.xml
kaggle/.idea/scopes/scope_settings.xml
kaggle/.idea/testrunner.xml
kaggle/.idea/vcs.xml
